
body {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(homepage.JPG);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
    padding: 40px;
    border: 1px solid white;

}

h1 {
    text-align: center;
    color: #fff;
}

p {
    text-align: center;
    color: #fff;
}

.input-box {
    margin-bottom: 20px;
}

input[type="text"],
select {
    width: calc(100% - 30px);
    padding: 15px;
    border: none;
    border-bottom: 2px solid #ffffff;
    font-size: 16px;
    color: #777474;
    background-color: transparent;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
select:focus {
    outline: none;
    border-color: #007bff;
}

label {
    font-weight: bold;
    color: #fff;
}

.checkbox-label {
    font-size: 16px;
    color: #fff;
}

.btn {
    display: block;
    width: 75%;
    margin-left: 65px;
    padding: 15px;
    background-color: transparent; 
    color: #fff; 
    border-radius: 30px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-top: 25px; 
}


.btn:hover {
    background-color: #009688; 
}

.links{
    margin-top: 10px;
    margin-left: 69px;
    font-size: 15px;
    color: #fff;
}
